@font-face {
  font-family: 'sauce code';
  src: url('./Sauce Code Powerline Light.otf');
}

body {
  background: green;
}

.code {
  font-size: 16px;
  color: #333;
  font-family: "sauce code", serif;
}

